# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# android dependency
*.aar

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
